<form #heroForm="ngForm" #heroForm="ngForm" class="container text-center form-width">

  <!-- Header -->
  <img class="logo mt-2" src="../../assets/logo-desktop.png" alt="logo" width="150">
  <h1>Welcome!</h1>
  <h3>Why GitHub HR Can Help You</h3>
  <ul class="text-left">
    <li>Supports the technical screening of GitHub users</li>
    <li>Visualizes detailed insights into their overall profile</li>
    <li>Gives information for each repository</li>
  </ul>

  <!-- Email -->
  <label for="email" class="align-left">E-mail (test: test@gmail.com)</label>
  <input type="email" id="email" (keyup.enter)="onSubmit()" [(ngModel)]="testLogin.email" #email="ngModel" name="email" class="form-control mb-4" placeholder="E-mail" required>
  <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
    E-Mail is required
  </div>

  <!-- Password -->
  <label for="password" class="align-left">Password (test: password)</label>
  <input type="password" id="password" (keyup.enter)="onSubmit()" [(ngModel)]="testLogin.password" #password="ngModel" name="password" class="form-control mb-4" placeholder="Password">
  <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
    Password is required
  </div>

  <!-- Sign in button -->
  <button class="btn button-blue btn-block my-4" type="button" (click)="onSubmit()" (keyup.enter)="onSubmit()">Sign in</button>
  <p *ngIf="showSubmitError" class="submit-error">Your inserted login credentials are wrong. Please try again</p>
  <div class="d-flex justify-content-around">
    <div>
      <!-- Remember me -->
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
        <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
      </div>
    </div>
    <div>
      <!-- Forgot password -->
      <a href="">Forgot password?</a>
    </div>
  </div>

  <!-- Social login -->
  <p class="mt-2">Not a member? <a href="">Register</a>! Or  sign in with:</p>

  <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-twitter"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-github"></i></a>

</form>
