<form #heroForm="ngForm" class="container text-center form-width">

  <!-- Header -->
  <img alt="logo" class="logo mt-2" src="../../assets/logo-desktop.png" width="150">
  <h1>Welcome!</h1>
  <h3>Why GitHub HR Can Help You</h3>
  <ul class="">
    <li>Supports the technical screening of GitHub users</li>
    <li>Visualizes detailed insights into their overall profile</li>
    <li>Gives information for each repository</li>
  </ul>

  <!-- Email -->
  <label class="align-left" for="email">E-mail (test: test&#64;gmail.com)</label>
  <input #email="ngModel" (keyup.enter)="onSubmit()" [(ngModel)]="testLogin.email" class="form-control mb-4" id="email"
         name="email"
         placeholder="E-mail" required type="email">
  <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
    E-Mail is required
  </div>

  <!-- Password -->
  <label class="align-left" for="password">Password (test: password)</label>
  <input #password="ngModel" (keyup.enter)="onSubmit()" [(ngModel)]="testLogin.password" class="form-control mb-4"
         id="password"
         name="password" placeholder="Password" type="password">
  <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
    Password is required
  </div>

  <!-- Sign in button -->
  <button (click)="onSubmit()" (keyup.enter)="onSubmit()" class="btn button-blue btn-block my-4" type="button">Sign in
  </button>
  <p *ngIf="showSubmitError" class="submit-error">Your inserted login credentials are wrong. Please try again</p>
  <div class="d-flex justify-content-around">
    <div>
      <!-- Remember me -->
      <div class="custom-control custom-checkbox">
        <input class="custom-control-input" id="defaultLoginFormRemember" type="checkbox">
        <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
      </div>
    </div>
    <div>
      <!-- Forgot password -->
      <a href="">Forgot password?</a>
    </div>
  </div>

  <!-- Social login -->
  <p class="mt-2">Not a member? <a href="">Register</a>! Or sign in with:</p>

  <a class="mx-2" href="#" role="button"><i class="fab fa-facebook-f"></i></a>
  <a class="mx-2" href="#" role="button"><i class="fab fa-twitter"></i></a>
  <a class="mx-2" href="#" role="button"><i class="fab fa-linkedin-in"></i></a>
  <a class="mx-2" href="#" role="button"><i class="fab fa-github"></i></a>

</form>
