<!-- Navigation -->
<mat-toolbar style="background: #f1f1f1; border-bottom: 3px solid #ebebeb;">
  <mat-toolbar-row style="display: flex; justify-content:space-between;">
    <img alt="logo" class="logo" height="49" ngSrc="../../../assets/logo-desktop.png" priority width="150">
    <button (click)="logout()" class="button-blue" mat-raised-button>Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">

  <!-- Popular Searches -->
  <mat-card *ngIf="!user"
            style="padding: 40px 30px; max-width: 700px; margin: 3% auto 0 auto;"
  >
    <div class="search-bar">
      <label for="search"></label>
      <input #searchedUsername (keyup.enter)="searchUsername()" [(ngModel)]="username" id="search" matInput
             name="username" placeholder="Search by GitHub username" type="text">
      <mat-icon (click)="searchedUsername.value=''" aria-hidden="false" aria-label="Close icon" class="close-icon"
      >close
      </mat-icon>
      <mat-icon (click)="searchUsername()" aria-hidden="false" aria-label="Search icon"
                class="search-icon">search
      </mat-icon>
    </div>
    <p style="margin-top: 30px">On this page, you can search for the GitHub username of candidates to get insights into
      their profiles. Click on the links below to find our more about the example GitHub users:</p>
    <div class="search-options">
      <div>
        <mat-icon (click)="searchUsername('johannesstroebele91')" aria-hidden="false" aria-label="Search icon">
          search
        </mat-icon>
        <a (click)="searchUsername('johannesstroebele91')">johannesstroebele91</a>
      </div>
      <div>
        <mat-icon (click)="searchUsername('ForrestKnight')" aria-hidden="false" aria-label="Search icon">search
        </mat-icon>
        <a (click)="searchUsername('ForrestKnight')">ForrestKnight</a>
      </div>
      <div>
        <mat-icon (click)="searchUsername('moritzgvt')" aria-hidden="false" aria-label="Search icon">search</mat-icon>
        <a (click)="searchUsername('moritzgvt')">moritzgvt</a>
      </div>
    </div>
  </mat-card>

  <!-- Results -->
  <mat-card *ngIf="user" style="padding: 40px 30px; max-width: 1200px; margin: 3% auto 0 auto;">

    <div class="username-and-githublink">
      <h2>{{ user.name }}</h2>
      <button (click)="linkToWebsite(user.html_url)" class="button-blue link-github-portfolio" mat-raised-button>Visit
        GitHub Profile
      </button>
    </div>

    <!-- Tabs -->
    <mat-tab-group animationDuration="0ms">

      <!-- Tab Overall -->
      <mat-tab label="Overall">
        <div class="userinfo-and-avatar ">
          <div class="avatar-and-bio mat-card mat-focus-indicator">
            <img (click)="linkToWebsite(user.html_url)" alt="GitHub profile picture" height="180"
                 ngSrc="{{user.avatar_url}}"
                 width="180">
            <p *ngIf="user.bio">{{ user.bio }}</p>
          </div>
          <div class="user-infos mat-card mat-focus-indicator">
            <div *ngIf="user.login">
              <mat-icon aria-hidden="false" aria-label="Username icon">account_circle</mat-icon>
              <span>GitHub Username: {{ user.login }}</span>
            </div>
            <div *ngIf="user.company">
              <mat-icon aria-hidden="false" aria-label="Company icon">business</mat-icon>
              <span>Company: {{ user.company }}</span>
            </div>
            <div *ngIf="user.location">
              <mat-icon aria-hidden="false" aria-label="Location icon">location_on</mat-icon>
              <span>Location: {{ user.location }}</span>
            </div>
            <div *ngIf="user.hireable">
              <mat-icon aria-hidden="false" aria-label="Work icon">work</mat-icon>
              <span>Hireable: {{ user.hireable }}</span>
            </div>
            <div (click)="linkToWebsite(user.html_url)" *ngIf="user.blog">
              <mat-icon aria-hidden="false" aria-label="Homepage icon">web</mat-icon>
              <span>Website: <a>{{ user.blog }}</a></span>
            </div>
            <div (click)="linkToEmail(user.email)" *ngIf="user.email">
              <mat-icon aria-hidden="false" aria-label="Email icon">email</mat-icon>
              <span>Email: <a>{{ user.email }}</a></span>
            </div>
            <div *ngIf="user.public_repos">
              <mat-icon aria-hidden="false" aria-label="Repos icon">dns</mat-icon>
              <span>Repos: {{ user.public_repos }}</span>
            </div>
            <div *ngIf="user.public_gists">
              <mat-icon aria-hidden="false" aria-label="Gists icon">text_snippet</mat-icon>
              <span>Gists: {{ user.public_gists }}</span>
            </div>
            <div *ngIf="user.followers">
              <mat-icon aria-hidden="false" aria-label="Followers icon">people</mat-icon>
              <span>Followers: {{ user.followers }}</span>
            </div>
            <div *ngIf="user.following">
              <mat-icon aria-hidden="false" aria-label="Following icon">people</mat-icon>
              <span>Following: {{ user.following }}</span>
            </div>
            <div *ngIf="user.created_at">
              <mat-icon aria-hidden="false" aria-label="Date joined icon">query_builder</mat-icon>
              <span>Joined GitHub: {{ user.created_at |  date:'dd/MM/yyyy' }}</span>
            </div>
            <div *ngIf="user.updated_at">
              <mat-icon aria-hidden="false" aria-label="Date joined icon">update</mat-icon>
              <span>Last profile update: {{ user.updated_at |  date:'dd/MM/yyyy' }}</span>
            </div>
          </div>
        </div>
      </mat-tab>

      <!-- Tab Repos -->
      <mat-tab *ngIf="reposAmount > 0" label="Repos" style="background: #f1f1f1">
        <h2>{{ reposAmount }} Repositories</h2>
        <div *ngFor="let repo of repos">
          <mat-card style="background: #f8f8f8; padding: 20px; margin: 20px 0">
            <div style="display: flex; justify-content: space-between; text-align: center">
              <h3>{{ repo.name }}</h3>
              <button (click)="linkToWebsite(repo.html_url)" *ngIf="repo.html_url" mat-raised-button
                      style="color: #4b4b4b">Visit Repository
              </button>
            </div>
            <p>{{ repo.description }}</p>

            <div class="container-columns">
              <div>
                <div *ngIf="repo.name">
                  <mat-icon aria-hidden="false" aria-label="Website icon">storage</mat-icon>
                  <p>Repository: <a href="{{repo.html_url}}">visit</a></p>
                </div>
                <div *ngIf="repo.homepage">
                  <mat-icon aria-hidden="false" aria-label="Website icon">web</mat-icon>
                  <p>Deployed Web App: <a href="{{repo.homepage}}">visit</a></p>
                </div>
                <div *ngIf="repo.has_wiki">
                  <mat-icon aria-hidden="false" aria-label="Wiki icon">school</mat-icon>
                  <p>Wiki: <a href="{{repo.html_url}}/wiki">visit</a></p>
                </div>
                <div *ngIf="repo.open_issues_count > 0">
                  <mat-icon aria-hidden="false" aria-label="Issues icon">assignment</mat-icon>
                  <p *ngIf="repo.open_issues">{{ repo.open_issues }} issues:<a href="{{repo.html_url}}/issues">
                    visit</a>
                  </p>
                </div>
                <div *ngIf="repo.language">
                  <mat-icon aria-hidden="false" aria-label="Language icon">language</mat-icon>
                  <p>Main language: {{ repo.language }}</p>
                </div>
              </div>
              <div>
                <div *ngIf="repo.watchers">
                  <mat-icon aria-hidden="false" aria-label="Fork icon">call_split</mat-icon>
                  <p>Forks: {{ repo.forks_count }}</p>
                </div>
                <div *ngIf="repo.size">
                  <mat-icon aria-hidden="false" aria-label="Size icon">zoom_out_map</mat-icon>
                  <p>Repo size: {{ repo.size }} Kb</p>
                </div>
                <div *ngIf="repo.watchers">
                  <mat-icon aria-hidden="false" aria-label="Watchers icon">visibility</mat-icon>
                  <p>Watchers: {{ repo.watchers }}</p>
                </div>
                <div *ngIf="repo.stargazers_count">
                  <mat-icon aria-hidden="false" aria-label="Stars icon">star</mat-icon>
                  <p>Stars: {{ repo.stargazers_count }}</p>
                </div>
              </div>
              <div>
                <div *ngFor="let language of repo.languages" class="repo-languages">
                  <span><b>{{ language.name }}:</b> {{ language.frequency }} bytes</span>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </mat-tab>

      <!-- Tab Analysis -->
      <mat-tab label="Analysis">
        <div class="container-graphs">
          <div class="mat-card mat-focus-indicator">
            <h3>Most used languages</h3>
            <p>Unit: number of repositories that have the coding language</p>
            <p *ngIf="numberOfLanguageInReposWithoutDuplicates.length === 0" class="text-warning">User has no
              repositories
            <p>
            <div *ngIf="numberOfLanguageInReposWithoutDuplicates" class="chart">
              <!-- TODO fix label, data, chartType, options, colors, legend is not known
              <canvas [chartType]="pieChartType"
                      [colors]="pieChartColors"
                      [data]="pieChartDataNumberOfLanguages"
                      [labels]="pieChartLabelsLanguagesOfRepos"
                      [legend]="pieChartLegend"
                      [options]="pieChartOptions"
                      baseChart>
              </canvas> -->
            </div>
          </div>
          <div class="mat-card">
            <h3>Most stared repositories</h3>
            <p>Unit: number of stars for each repository</p>
            <p *ngIf="starsOfRepos.length === 0" class="text-warning">User has no stared repositories
            <p>
            <div *ngIf="starsOfRepos" class="chart">
              <!-- TODO fix label, data, chartType, options, colors, legend is not known
            <canvas [chartType]="pieChartType"
                    [colors]="pieChartColors"
                    [data]="pieChartDataStarsOfRepos"
                    [labels]="pieChartLabelsStarsNamesOfRepos"
                    [legend]="pieChartLegend"
                    [options]="pieChartOptions"
                    baseChart>
            </canvas> -->
            </div>
          </div>
        </div>

        <div class="container-graphs">
          <div class="mat-card mat-focus-indicator">
            <h3>Largest repositories</h3>
            <p>Unit: size of the largest repository in bytes</p>
            <p *ngIf="sizeOfRepos.length === 0" class="text-warning">User has no repositories
            <p>
            <div *ngIf="sizeOfRepos" class="chart">
              <!-- TODO fix label, data, chartType, options, colors, legend is not known
              <canvas baseChart
                      [labels]="pieChartLabelsSizeNamesOfRepos"
                      [data]="pieChartDataSizeOfRepos"
                      [chartType]="pieChartType"
                      [options]="pieChartOptions"
                      [colors]="pieChartColors"
                      [legend]="pieChartLegend">
              </canvas> -->
            </div>
          </div>
          <div class="mat-card mat-focus-indicator">
            <h3>Most forked repositories</h3>
            <p>Unit: number of forks for each repository</p>
            <p *ngIf="forkOfRepos.length === 0" class="text-warning">User has no forked repositories
            <p>
            <div *ngIf="forkOfRepos" class="chart">
              <!-- TODO fix label, data, chartType, options, colors, legend is not known
                <canvas baseChart
                        [labels]="pieChartLabelsForksNamesOfRepos"
                        [data]="pieChartDataForksOfRepos"
                        [chartType]="pieChartType"
                        [options]="pieChartOptions"
                        [colors]="pieChartColors"
                        [legend]="pieChartLegend">
                </canvas> -->
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
