// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$githubuser-dashboard-primary: mat-palette($mat-indigo);
$githubuser-dashboard-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$githubuser-dashboard-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$githubuser-dashboard-theme: mat-light-theme($githubuser-dashboard-primary, $githubuser-dashboard-accent, $githubuser-dashboard-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($githubuser-dashboard-theme);

/* You can add global styles to this file, and also import other style files */

/* General */
body, .article {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1em;
  color: #4b4b4b;
  line-height: 1.27777778em;
  margin: 0 auto;
}

h1, .h1 {
  font-size: 3em !important;
  line-height: 1.2em !important;
  margin-top: 0.6em !important;
  margin-bottom: 0.45em !important;
  font-weight: bold !important;
  color: #5c5c5c !important;
}

h2, .h2 {
  font-size: 2.61111111em !important;
  line-height: 1.46808511em !important;
  margin-top: 0.45em !important;
  margin-bottom: 0.3em !important;
  font-weight: bold !important;
  color: #5c5c5c !important;
}

h3, .h3 {
  font-size: 1.61111111em !important;
  line-height: 1.5862069em !important;
  margin-top: 0.3em !important;
  margin-bottom: 0.3em !important;
  color: #5c5c5c !important;
}

h4, .h4, h5, .h5 {
  font-size: 1em !important;
  line-height: 1.27777778em !important;
  margin-top: 0.3em !important;
  margin-bottom: 0.3em !important;
}

p, ul, ol, pre, table, blockquote, label, span {
  line-height: 1.6em!important;
  font-size: 1.1em!important;
  margin-top: 0;
  margin-bottom: 0.9em;
}

ul ul, ol ol, ul ol, ol ul {
  line-height: 1.6em!important;
  font-size: 1.1em!important;
  margin-top: 0;
  margin-bottom: 0;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}

a, b, i, strong, em, small, code {
  font-size: 1.1em!important;
  line-height: 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Interactive Elements*/
.button-blue {
  display: inline-block;
  padding: 12px 24px;
  margin: 12px 0 6px 0;
  white-space: nowrap;
  text-align: center;
  font-weight: 500;
  border-radius: 3px;
  border: none;
  background: #007bff;
  color: white;
}

.button-white {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  font-weight: 500;
  border-radius: 3px;
  border: 3px solid #007bff;
  background: white;
  margin: 12px 0 6px 0;
  color: #007bff;
}
