/* General */
body, .article {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1em;
  color: #4b4b4b;
  line-height: 1.27777778em;
  margin: 0 auto;
}
h1, .h1 {
  font-size: 3em;
  line-height: 1.21052632em;
  margin-bottom: 0.60526316em;
  font-weight: bold !important;
  color: #5c5c5c;
}
h2, .h2 {
  font-size: 2.61111111em;
  line-height: 1.46808511em;
  margin-top: 0.4893617em;
  margin-bottom: 0.4893617em;
  font-weight: bold !important;
  color: #5c5c5c;
}
h3, .h3 {
  font-size: 1.61111111em;
  line-height: 1.5862069em;
  margin-top: 0.79310345em;
  margin-bottom: 0;
}
h4, .h4 {
  font-size: 1em;
  line-height: 1.27777778em;
  margin-top: 1.27777778em;
  margin-bottom: 0;
}
h5, .h5 {
  font-size: 1em;
  line-height: 1.27777778em;
  margin-top: 1.27777778em;
  margin-bottom: 0;
}
p, ul, ol, pre, table, blockquote {
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 1.27777778em;
  padding-bottom: 1em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/* Interactive Elements*/
.button-color {
  display: block;
  background: #007bff;
  padding: 12px 36px;
  margin: 24px 0 6px 0;
  border-radius: 3px;
  color: white;
  border: none;
  white-space: nowrap;
}
