// General
body, .article {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1em;
  color: #4b4b4b;
  line-height: 1.27777778em;
  margin: 0 auto;
}

.mat-card {
  background: #fcfcfc;
}

// Interactive Elements
.button-blue {
  display: inline-block;
  padding: 12px 24px;
  margin: 12px 0 6px 0;
  white-space: nowrap;
  text-align: center;
  font-weight: 500;
  border-radius: 3px;
  border: none;
  background: #007bff;
  color: white;
}

.button-white {
  display: inline-block;
  text-align: center;
  padding: 13px 27px;
  font-weight: 500;
  border-radius: 3px;
  border: 2px solid #007bff;
  background: white;
  margin: 12px 0 6px 0;
  color: #007bff;
}

// Text
h1, .h1 {
  font-size: 3em !important;
  line-height: 1.2em !important;
  margin-top: 0.6em !important;
  margin-bottom: 0.45em !important;
  font-weight: bold !important;
  color: #5c5c5c !important;
}

h2, .h2 {
  font-size: 2.61111111em !important;
  line-height: 1.46808511em !important;
  margin-top: 0.45em !important;
  margin-bottom: 0.3em !important;
  font-weight: bold !important;
  color: #5c5c5c !important;
}

h3, .h3 {
  font-size: 1.61111111em !important;
  line-height: 1.5862069em !important;
  font-weight: bold !important;
  margin-top: 0.3em !important;
  margin-bottom: 0.3em !important;
  color: #5c5c5c !important;
}

h4, .h4, h5, .h5 {
  font-size: 1.1em !important;
  line-height: 1.27777778em !important;
  font-weight: 500 !important;
  margin-top: 0.3em !important;
  margin-bottom: 0.3em !important;
}

p, ul, ol, pre, table, blockquote, label, span {
  line-height: 1.6em !important;
  font-size: 1.1em !important;
  margin-top: 0;
  margin-bottom: 0.9em;
  font-weight: 400;
}

input {
  font-size: 1.1em !important;
  font-weight: 400;
}

b {
  font-size: 1em !important;
  line-height: 0;
  font-weight: 500;
  color: #4b4b4b;
}

ul ul, ol ol, ul ol, ol ul {
  line-height: 1.6em !important;
  font-size: 1.1em !important;
  margin-top: 0;
  margin-bottom: 0;
}

hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}

a, i, strong, em, small, code {
  font-size: 1.1em !important;
  line-height: 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
