@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$blue-palette, 500);
$accent: mat.define-palette(mat.$pink-palette, 500);
$warn: mat.define-palette(mat.$red-palette, 500);

$custom-light-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

$palette-color: map-get($custom-light-theme, color);

@include mat.all-component-themes($custom-light-theme);
