<!-- Navigation -->
<nav class="d-flex align-items-center justify-content-between mx-2 my-1">
  <div class="d-flex align-items-center w-100">
    <!-- Logo -->
    <a routerLink="/"><img class="logo logo-mobile mt-2" src="../../assets/logo-mobile.png" alt="logo" height="51"></a>
    <a routerLink="/"><img class="logo logo-desktop mt-2" src="../../assets/logo-desktop.png" alt="logo"
                           height="51"></a>
    <!-- Search bar -->
    <div class="search-bar">
      <label for="search"></label>
      <input type="text" id="search" placeholder="Search by username"
             [(ngModel)]="username" name="username" (keyup.enter)="searchUsername()">
      <mat-icon (click)="searchUsername()" aria-hidden="false" aria-label="Search icon">search</mat-icon>
    </div>
  </div>
  <!-- User -->
  <div class="nav-user">
    <span class="user-name-display"><b>Lisa Musterfrau</b></span>
    <a routerLink="/"><img id="nav-profile-mobile" src="../../assets/Lisa_Avatar.png" alt="Profile image"
                           width="51"></a>
  </div>
</nav>

<div class="content">

  <!-- Popular Searches -->
  <div *ngIf="!user">
    <h2>Popular Searches</h2>
    <p>These are GitHub usernames that were searched before. You can search them by
      clicking on the link below:</p>
    <div class="search-options">
      <div class="mb-2">
        <mat-icon (click)="searchUsername('johannesstroebele91')" aria-hidden="false" aria-label="Search icon">
          search
        </mat-icon>
        <a (click)="searchUsername('johannesstroebele91')">johannesstroebele91</a>
      </div>
      <div class="mb-2">
        <mat-icon (click)="searchUsername('Krymonota')" aria-hidden="false" aria-label="Search icon">search</mat-icon>
        <a (click)="searchUsername('Krymonota')">Krymonota</a>
      </div>
      <div>
        <mat-icon (click)="searchUsername('moritzgvt')" aria-hidden="false" aria-label="Search icon">search</mat-icon>
        <a (click)="searchUsername('moritzgvt')">moritzgvt</a>
      </div>
    </div>
  </div>

  <!-- Results -->
  <div *ngIf="user">

    <h2>{{user.name}}</h2>
    <button class="button-blue link-github-portfolio" (click)="linktouser(user.html_url)">Visit GitHub Profile</button>

    <!-- Tabs -->
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Overall">
        <div class="my-3 d-flex justify-content-between align-items-center">
          <ul>
            <li *ngIf="user.login">Username: {{user.login}}</li>
            <li *ngIf="user.company">Company: {{user.company}}</li>
            <li *ngIf="user.location">Location: {{user.location}}</li>
            <li *ngIf="user.hireable">Hireable: {{user.hireable}}</li>
            <li *ngIf="user.blog">Website: {{user.blog}}</li>
            <li *ngIf="user.email">Email: {{user.email}}</li>
            <li *ngIf="user.public_repos">Repos: {{user.public_repos}}</li>
            <li *ngIf="user.public_gists">Gists: {{user.public_gists}}</li>
            <li *ngIf="user.followers">Followers: {{user.followers}}</li>
            <li *ngIf="user.following">Following: {{user.following}}</li>
          </ul>
          <img height="180" src="{{user.avatar_url}}" alt="GitHub profile picture" class="border-2 border-light rounded mb-0">
        </div>
        <p *ngIf="user.bio">{{user.bio}}</p>
      </mat-tab>
      <mat-tab label="Repos">
        <h2>Repositories</h2>
        <mat-card *ngFor="let repo of repos" class="my-2">
          <div><a href="{{repo.html_url}}">{{repo.name}}</a></div>
          <p>{{repo.description}}</p>
          <div fxFlex="50" fxLayout="row" *ngFor="let language of languagesPerRepo">
            <ng-container *ngFor="let languageItem of language | keyvalue">
              <p class="color-red">{{languageItem.key}}</p>
              <p class="color-blue">{{languageItem.value}}</p>
            </ng-container>
          </div>
        </mat-card>
      </mat-tab>
      <mat-tab label="Analysis">
        <div></div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
