.text-login-error {
  color: red;
}

.color-red {
  color: red;
}

.color-blue {
  color: #007bff;
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

.button-blue {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  font-weight: 500;
  border-radius: 3px;
  border: none;
  background: #007bff;
  color: white;
}

.button-white {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  font-weight: 500;
  border-radius: 3px;
  border: 3px solid #007bff;
  background: white;
  margin: 6px 0;
  color: #007bff;
}


.searchbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  padding: 3px;
  margin-bottom: 6px;
  font-weight: 500;
  border-radius: 3px;
  border: none;
  background: #007bff;
  color: white;
}

.searchbar input {
  border-radius: 2px;
  width: 100%;
  border: none;
}

.searchbar mat-icon {
  margin: 6px 6px 6px 12px;
}


